.parentDiv {
    position: relative;
}

.homePageBgImage {
    width: calc(100vw - 200px);
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.backdrop {
    width: calc(100vw - 200px);
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.627);
    z-index: 2;
}

.entireTextContent {
    position: absolute;
    z-index: 3;
}

.headerContent {
    position: absolute;
    display: flex;
    width: calc(100vw - 200px);
    justify-content: space-between;
    align-items: center;
    
}

.logoImage {
    width: 30px;
    height: 30px;
}

.netflixText {
    color: red;
    font-size: 40px;
    font-weight: bolder;
    margin: 0px;
    margin-left: 120px;
    margin-top: 10px;

}

.topSignInButton{
    background-color: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-right: 160px;
    font-weight:560;
    width: 65px;
    height: 30px;
}

.dropdownField {
    
    border-radius: 4px;
    margin-right: 10px;
    font-weight:560;
    width: 90px;
    height: 30px;
    padding: 6px;
}

.bothButton {
    margin-top: 16px;
}

.options {
    border: none;
    outline: none;
    color: white;
    background-color: black;
}

.titleCenterText {
   
    font-size: 56px;
    color: white;
    font-weight: 900;
    width: 50%;
    margin: 0px;
   
}

.enterEmailText{
 
    top: 10px;
    color: white;
    top: 350px;
    left: 300px;
    font-size: 16px;
    margin-top: 25px;
}

.inputFields {

    top: 450px;
    left: 300px;
    display: flex;
}

.emailAddressField {
    width: 350px;
    height: 50px;
    background-color: black;
    outline: none;
    border: none;
    border-color: white;
    color: white;
    padding-left: 10px;
    border-radius: 6px;
}

.getStartedButton {
    cursor: pointer;
    margin-left: 10px;
    width: 200px;
    height: 45px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    font-size: 24px;
    border-radius: 4px;
}

.homePageCenterContent {
   margin-top: 170px;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 200px);
    align-items: center;
    justify-content: center;
}

